MDAnalysis==2.7.0
MDAnalysis==2.7.0
mdtraj==1.9.9
numpy==2.1.1
OpenMM==8.1.1
openmmtools==0.23.1
ParmEd==4.2.2
pymbar==3.0.5
pymol==0.1.0
pytest==8.2.0
PyYAML==6.0.1
PyYAML==6.0.2
rdkit==2024.3.2
ruamel_yaml==0.18.6
scipy==1.14.1
setuptools==69.5.1
tqdm==4.66.4
