MDAnalysis==2.7.0
mdtraj==1.10.0
numpy==2.1.1
openmm==8.1.1
parmed==4.2.2
pymbar==4.0.3
pymol==0.1.0
pytest==8.3.3
PyYAML==6.0.1
PyYAML==6.0.2
rdkit==2024.3.5
ruamel_yaml==0.18.6
scipy==1.14.1
setuptools==69.5.1
tqdm==4.66.2
